.summary-container {
    border: 2px solid #DBE6EC;
    padding: 10px;
    color: #869aa7;
    font-size: 14px;

  @media screen and (min-width: 375px) {
    margin-bottom: 25px;
  }
    .header {
        .title {
            font-size: 18px;
            color: black;
            text-align: center;
        }
        .name {
            span {
                margin-left: 40px;
                font-weight: 700;
                color: #869aa7 !important;
            }
        }
        .date {
            span {
                font-weight: 700;
                color: #869aa7 !important;
                &.start {
                    margin-left: 13px;
                }
                &.end {
                    margin-left: 20px;
                }
            }
        }
        .visibility {
            span {
                margin-left: 25px;
                font-weight: 700;
                color: #869aa7 !important;
            }
        }
    }
    .destination-container {
        border: 1px solid;
        width: 155px;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        padding:0 5px;
        span {
            color: #869aa7 !important;
            margin-left: 2px !important;
        }
        .name, .date {
            line-height: 15.5px;
        }
    }
    .row {
        margin: 0 !important;
    }
}
