<div class="card">
  <ng-container *ngIf="auth.userProfile$ | async as profile">
    <div class="col-6 offset-4" id="test">
      <div class="pull-right">
        <button
          *ngIf="pageType === pageMode.READ"
          class="btn btn-primary"
          (click)="editProfile()"
        >
          Edit
        </button>
        <button
          *ngIf="pageType === pageMode.EDIT"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#saveChangesModal"
          [disabled]="!isFormValid()"
        >
          Save
        </button>
      </div>
    </div>

    <app-uploader [renderParentContent]="true">
      <img
        #profileImage
        [src]="profile.picture"
        (click)="fileUploader.click()"
        class="rounded-circle img-fluid profile-picture mb-3 mb-md-0"
        (error)="profileImage.src = 'assets/default-thumbnail.jpg'"
      />
      <input #fileUploader class="input-upload" type="file" />
    </app-uploader>
    <ng-container *ngIf="userInfo || isNewUser">
      <ng-container
        *ngIf="
          pageType === pageMode.READ;
          else editProfileContent
        "
      >
        <h1>{{ userInfo?.firstName }} {{ userInfo?.lastName }}</h1>

        <div class="super-user-label" *ngIf="userInfo.adminUser"><i class="fa fa-user blue" aria-hidden="true"></i> Super User</div>

        <p class="about-me">
          {{ userInfo?.biography }}
        </p>
        <hr />
        <h4>Contact:</h4>
        <p *ngIf="userInfo?.mobileNumber">
          Phone#: {{ userInfo?.mobileNumber }}
        </p>
        <p *ngIf="userInfo?.email">Email: {{ userInfo?.email }}</p>
      </ng-container>

      <ng-template #editProfileContent>
        <div class="edit-form">
          <form #ngProfileForm="ngForm">
            <div class="form-group">
              <label for="fName">First Name:</label>
              <input
                type="text"
                class="form-control"
                id="fName"
                #fName
                [(ngModel)]="profileForm.fName"
                name="fName"
                required
              />
            </div>
            <div class="form-group">
              <label for="lName">Last Name:</label>
              <input
                type="text"
                class="form-control"
                id="lName"
                [(ngModel)]="profileForm.lName"
                name="lName"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [value]="profile.email"
                [disabled]="true"
                [(ngModel)]="profileForm.email"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                [(ngModel)]="profileForm.phone"
                name="phone"
                required
              />
            </div>
            <div class="form-group">
              <label for="bio">Biography:</label>
              <textarea
                class="form-control"
                id="bio"
                [(ngModel)]="profileForm.bio"
                name="bio"
                required
              ></textarea>
            </div>
            <div class="checkbox form-group" *ngIf="!isNewUser">
              <label
                ><input
                  type="checkbox"
                  [(ngModel)]="profileForm.adminUser"
                  name="adminUser"
                />
                <i
                  ><span class="super-user">*Sign up as a super user</span></i
                ></label
              >
            </div>
          </form>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</div>

<!-- Modal -->
<div #saveChangesModal id="saveChangesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">
          <ng-container *ngIf="!isNewUser; else superUserMessage">
            Save Changes
          </ng-container>
          <ng-template #superUserMessage>Sign up as a Super User?</ng-template>
        </h4>
      </div>
      <div class="modal-body">
        <p class="emoticon-container">
          <i class="fa fa-user fa-4" aria-hidden="true" *ngIf="isNewUser"></i>
          <i class="fa fa-floppy-o fa-4" aria-hidden="true" *ngIf="!isNewUser"></i>
        </p>
        <p class="helper-text">
          <ng-container *ngIf="!isNewUser; else superUserHelperMessage">
            Would you like to save your changes?
          </ng-container>
          <ng-template #superUserHelperMessage>
            Thanks for completing your profile! <br />
          </ng-template>
        </p>
        <p class="helper-text" *ngIf="isNewUser">
          Would you like to sign-up as a Super User to receive latest software
          updates and participate in UAT testing program?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success btn-custom"
          data-dismiss="modal"
          (click)="onClickSave()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-danger btn-custom"
          data-dismiss="modal"
          (click)="onClickCancel()"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
