<form [formGroup]="itineraryInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <div class="form-group">
            <label for="nameInput">Itinerary Name <span class="red">*</span></label>
          <input type="text" class="form-control name" id="nameInput" [ngModel]="itineraryInfo.name" formControlName="name"
                 placeholder="Enter itinerary name" required>
          <small id="emailHelp" class="form-text text-muted">Choose a name that will make you excited!</small>
        </div>
        <div class="form-group">
            <label for="startDateInput">Start Date <span class="red">*</span>

            </label>
          <input #startDate type="date" class="form-control" id="startDateInput" formControlName="startDate" [ngModel]="itineraryInfo.startDate"
                 placeholder="Select start date" [min]="today" required>
        </div>

        <div class="form-group">
            <label for="endDateInput">End Date <span class="red">*</span>

            </label>
          <input type="date" class="form-control" id="endDateInput" formControlName="endDate" [ngModel]="itineraryInfo.endDate"
                 placeholder="Select end date" [min]="startDate.value" required>
        </div>


        <label>Visibility <span class="red">*</span></label>
      <div class="row visibility-container">
        <div class="form-group form-check radio col-md-2">
          <label class="form-check-label" for="visibilityStatusPublic">
            <input type="radio" class="form-check-input"
                   id="visibilityStatusPublic"
                   formControlName="visibility"
                   [ngModel]="itineraryInfo.visiblity"
                   value="Public" checked>
            Public
          </label>
        </div>

        <div class="form-group form-check radio col-md-10 private-radio">
          <label class="form-check-label" for="visibilityStatusPrivate">
            <input type="radio" class="form-check-input"
                   id="visibilityStatusPrivate"
                   formControlName="visibility"
                   value="Private">
            Private
          </label>
        </div>
      </div>

        <button type="submit" class="btn btn-primary previous" [disabled]="true">Previous</button>
        <button type="submit" class="btn btn-primary next pull-right" [disabled]="!isFormValid"
            [ngClass]="{'disabled': !isFormValid}">Next</button>
    </div>
</form>
